<template>
<div>
  <lobby></lobby>
  <div class="game" v-if="currentScreen !== 'chat'">
  <div class="page" id="page">
    <transition>
    <div class="screen landing" v-if="currentScreen === 0" key="landing">
      <div class="container">
        <img class="logo" alt="Best Worst Answer" src="../assets/images/best-worst-answer.png">
        <form name="joinForm">
          <fieldset>
            <input id="name" placeholder="Name" type="text" v-model="name">
            <label for="name">NAME</label>

            <input id="room-key" placeholder="" type="text" v-model="roomKey">
            <label for="room-key">ROOM CODE<br><span>(Leave blank to create new room.)</span></label>
          </fieldset>
        </form>
      </div>

      <a href="#" class="button bg-black" @click="join()">JOIN GAME</a>
    </div>

    <div class="screen lobby bg-black clr-white" v-if="currentScreen === 1" key="lobby">
      <div class="half left">
        <h1>{{roomKey}}</h1>
        <h3 class="clr-white">ROOM CODE</h3>

        <h1 class="number-of-players"></h1>
        <h3 class="clr-white">PLAYERS<br>
          <span>(Max of 8 players.)</span></h3>
      </div>
      <div class="half right">
        <h1 v-for="user in users">
          {{user.name}}
        </h1>
      </div>

      <a href="#" class="button bg-cyan clr-black" v-if="debug" @click="start()">EVERYBODY'S HERE</a>
    </div>

    <div class="screen interstitial bg-cyan" v-if="currentScreen === 2" key="interstitial">
      <h1><strong v-if="users[judge]">{{users[judge]['name']}}</strong><br>{{judgeText}}</h1>
    </div>

    <div class="screen prompt bg-cyan" v-if="currentScreen === 3" key="prompt">
      <h2 v-if="users[judge]">{{users[judge]['name']}} will choose&hellip;</h2>
      <h1>{{promptText}}</h1>
      <a v-if="clientID === judge" @click="startRound()" class="button bg-black">START ROUND</a>
    </div>

    <div class="screen fixed-height bg-black" v-if="currentScreen === 4" key="answer">
      <div class="container">
        <div class="current">
          <h3 class="current-reader" v-if="users[judge]">{{users[judge]['name']}}</h3>
          <p class="current-thing">{{promptText}}</p>
        </div>

        <div class="answers-box">
          <div class="answer-theirs" v-bind:class="{'answer-theirs-idle': user.status === 0, 'answer-theirs-typing': user.status === 1, 'answer-theirs-submitted': user.status === 2}" v-for="user in users" v-if="user.id !== judge"><span class="score">{{user.score}}</span>{{user.name}}</div>
        </div>

        <div id="answerMine" class="answer-mine" v-bind:class="{hidden: !answerSubmitShow || (clientID == judge)}">
          <div class="timer"><div class="timer-bar"></div></div>

          <textarea class="answer-textarea" placeholder="Type your answer here." @focus="type" v-model="answer"></textarea>
          <a v-if="users[clientID] && users[clientID]['status'] === 1" href="#" id="submit" class="answer-submit button" @click="submit()">SUBMIT ANSWER</a>
        </div>
      </div>
    </div>

    <div class="screen fixed-height bg-black" v-if="currentScreen === 5" key="pick">
      <div class="container">
        <div class="current">
          <h3 class="current-reader" v-if="users[judge]">{{users[judge]['name']}}</h3>
          <p class="current-thing">{{promptText}}</p>
        </div>

        <ul class="answers-box">
          <li class="answer-theirs answer-theirs-display" v-for="answer in answers" @click="choose(answer.id)">{{answer.text}}</li>
        </ul>

        <a v-if="clientID === judge && winner" id="submit" class="answer-submit" @click="chosen()">CHOOSE FAVORITE</a>
      </div>
    </div>

    <div class="screen prompt bg-magenta" v-if="currentScreen === 6" key="choice">
      <h2 v-if="users[judge]">{{users[judge]['name']}} chose&hellip;</h2>
      <h1 class="winner" v-if="users[winner]"><span class="score-large">{{users[winner].score}}</span>{{users[winner].name}}</h1>
      <h1>{{winningAnswer}}</h1>
      <a v-if="clientID === winner" href="#" id="submit" class="button bg-cyan" @click="nextQuestion()">NEXT QUESTION</a>
    </div>

    <div class="screen game-over bg-yellow" v-if="currentScreen === 7" key="game">
      <img class="crown" alt="" width="120" height="223.5" src="../assets/images/king.png">

      <h1 class="winner" v-if="users[winner]">{{users[winner].name}} WINS!</h1>
    </div>
    </transition>
    <!-- <div class="circle-box"><div class="circle"></div></div>
    <svg width="100" height="100">
      <circle cx="50" cy="50" r="50"/>
    </svg> -->
  </div>

  <audio preload="auto" id="audio-ping"><source src="static/audio/ping.mp3"></audio>
  </div>

  <div class="chat" v-if="currentScreen === 'chat'">
    <div class="screen" v-bind:class="{focus: currentScreen === 'chat'}">
      <div class="container">
        <div class="chatBox" id="chatBox">
          <div class="chat-message" v-for="message in chat"><h3>{{message.name}}</h3>{{message.text}}</div>
        </div>

        <div id="chat" class="chat-text-box">
          <textarea class="chat-textarea" placeholder="Type your message here." v-model="chatText" @keydown.enter.prevent="chatSend()"></textarea>
          <a href="#" id="submit" class="button bg-black" @click="chatSend()">SEND</a>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-button" v-bind:class="{close: currentScreen === 'chat'}" @click="viewChat()"><img v-if="currentScreen != 'chat' && !chatNew" alt="CHAT" width="20" height="20" src="../assets/images/chat.png"><img v-if="currentScreen != 'chat' && chatNew" alt="CHAT" width="20" height="20" src="../assets/images/chat-new.png"><img v-if="currentScreen === 'chat'" alt="CLOSE CHAT" width="20" height="20" src="../assets/images/x.png"></div>
</div>
</template>

<script>
  export default {
    data() {
      return {
        currentScreen: 0,
        nextQuestionDisabled: 0,
        debug: true,
        chatNew: false,
        user: {
          name: ''
        },
        name: '',
        roomKey: '',
        chatText: '',
        answer: '',
        clientID: '',
        judge: '',
        chat: '',
        users: {
          name: ''
        },
        currentQuestion: '',
        judgeText: '',
        promptText: '',
        questions: '',
        current: '',
        answers: '',
        winner: '',
        winningAnswer: '',
        answerSubmitShow: true
      }
    },

    methods: {
      join() {
        console.log('join')

        this.$socket.emit('join', {
          name: this.name,
          roomKey: this.roomKey
        })
      },

      viewChat() {
        if (this.currentScreen !== 'chat') {
          this.previousScreen = this.currentScreen
          this.currentScreen = 'chat'
        } else {
          this.currentScreen = this.previousScreen
        }

        this.chatNew = false
      },

      chatSend() {
        console.log('chat')

        this.$socket.emit('chat-send', {
          name: this.name,
          chatText: this.chatText
        })

        this.chatText = ''
      },

      start() {
        console.log('start')

        this.$socket.emit('start', {})
      },

      startRound() {
        console.log('start')

        this.$socket.emit('startRound', {})
      },

      type() {
        console.log('type')

        this.$socket.emit('type', {
          answer: this.answer
        })
      },

      submit() {
        console.log('submit')

        this.$socket.emit('submit', {
          answer: this.answer
        })

        this.answerSubmitShow = false
      },

      choose(user) {
        console.log(user)
        console.log('choose')

        if (this.clientID === this.judge) {
          this.$socket.emit('choose', {
            user: user
          })
        }
      },

      chosen() {
        console.log('chosen')

        this.$socket.emit('chosen', {})
      },

      nextQuestion() {
        console.log('next-question')

        if (this.nextQuestionDisabled === 0) {
          this.nextQuestionDisabled = 1
          this.$socket.emit('next-question', {})
        }
      }
    },

    sockets: {
      init: function(data) {
        console.log('init')
        this.clientID = data.clientID
        this.name = data.name
        this.roomKey = 'TEST'
      },

      currentScreen: function(data) {
        this.currentScreen = data.currentScreen
      },

      chat: function(data) {
        this.chat = data.chat
      },

      waiting: function(data) {
        console.log('hey 2')
        this.users = data.users
        this.judge = data.judge
        this.currentQuestion = data.currentQuestion
        this.judge = data.judge
        this.judgeText = data.judgeText
        this.promptText = data.promptText
        this.chat = data.chat
      },

      judge: function(data) {
        this.judge = data.judge
        this.judgeText = data.judgeText
        this.promptText = data.promptText
      },

      status: function(data) {
        this.users = data.users
        this.questions = data.questions
        this.current = data.current
        this.nextQuestionDisabled = 0
      },

      answers: function(data) {
        this.answers = data.answers
      },

      winner: function(data) {
        this.winner = data.winner
      },

      winningAnswer: function(data) {
        this.winningAnswer = data.winningAnswer
      },

      reset: function(data) {
        this.answerSubmitShow = true
        this.winner = ''
        this.answer = ''
        this.users[this.clientID]['status'] = 0
      }
    },

    watch: {
      chat() {
        // scroll chat down
        // element[0].scrollTop = element[0].scrollHeight;
        if (this.chat.length > 0) {
          this.chatNew = true
        }
      }
    },

    created() {
      console.log('hey')
    }
  }
</script>

<style>
  .debug {position:absolute;top:0;right:0;z-index: 1000}
  .debug a {display: block;margin:5px;width:15px;height:15px;padding:5px;}
  body {background: #0f0915 !important;}
  .page {position: relative;height:100%;overflow:hidden;}

  .v-enter {
  }

  .v-enter-active {
    transition: transform .33s cubic-bezier(.694, .0482, .335, 1);
  }

  .v-enter-to {
    transform: translate3d(0, -100%, 0);
  }

  .v-leave {
  }

  .v-leave-active {
    transition: transform .33s cubic-bezier(.694, .0482, .335, 1);
  }

  .v-leave-to {
    transform: translate3d(0, -100%, 0);
  }

  svg {
    transition: transform .5s ease-in;
  }

  svg:hover {
    transform: scale(50, 50);
  }
</style>