<template>
  <div class="bg-white">
    <h1>Lobby</h1>
    <ul>
      <li v-for="room in rooms"><h2>{{ room.key }}</h2>{{ this._.size(room.users) }} users in this room.</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      rooms: 'jim'
    }
  },

  created() {
    console.log('lobby')
    this.$socket.emit('lobby')
  },

  sockets: {
    lobby: function(data) {
      this.rooms = data
    }
  }
}
</script>