<!doctype html>

<html ng-app="best-worst-answer">
  <head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Best Worst Answer</title>

    <!-- APP -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="/images/icon.png" rel="icon" sizes="192x192">
    <link href="/images/icon.png" rel="apple-touch-icon">

    <!-- CSS -->
    <style>
      * {font:300 18px/20px Helvetica, Arial, sans-serif;}
    </style>

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
    .screen {display:none;}
    .focus {display:block !important;}

    @media screen and (min-width:1000px) {
    .page {display:flex;flex-wrap:wrap;justify-content:center;align-items:center;align-content:center;}
    .screen {display:block;margin:5px !important;width:360px;height:480px !important;overflow:auto;}
    .focus {outline:3px solid #ffff00;}
    }
    </style>

    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/gameController.js"></script>
    <script src="/js/socketService.js"></script>
    <script src="/js/directives/common.js"></script>
  </head>

  <body>
    <div ng-controller="LoginController" class="page" id="page">
      <div class="screen landing" ng-class="{focus: currentScreen == 0}">
        <div class="container">
          <img class="logo" alt="Best Worst Answer" src="/images/best-worst-answer.png">
          <form name="joinForm">
            <fieldset>
              <input id="name" placeholder="Name" type="text" ng-model="name">
              <label for="name">NAME</label>

              <input id="room-key" placeholder="XJLC" type="text" ng-model="roomKey">
              <label for="room-key">ROOM CODE<br><span>(Leave blank to create new room.)</label>
            </fieldset>
          </form>
        </div>

        <a href="#" class="button bg-black" ng-click="join()">JOIN GAME</a>
      </div>

      <div class="screen lobby bg-black clr-white" ng-class="{focus: currentScreen == 1}">
        <div class="half left">
          <h1>{{roomKey}}</h1>
          <h3 class="clr-white">ROOM CODE</h3>

          <h1 class="number-of-players">{{_.size(users)}}</h1>
          <h3 class="clr-white">PLAYERS<br>
            <span>(Max of 8 players.)</span></h3>
        </div>
        <div class="half right">
          <h1 ng-repeat="user in users track by $index">
            {{user.name}}
          </h1>
        </div>

        <a href="#" class="button bg-cyan clr-black" ng-show="_.size(users) > 2 || debug" ng-click="start()">EVERYBODY'S HERE</a>
      </div>

      <div class="screen interstitial bg-cyan" ng-class="{focus: currentScreen == 2}">
        <h1><strong>{{users[judge]['name']}}</strong><br>{{judgeText}}</h1>
      </div>

      <div class="screen prompt bg-cyan" ng-class="{focus: currentScreen == 3}">
        <h2>{{users[judge]['name']}} will choose&hellip;</h2>
        <h1>{{promptText}}</h1>
        <a ng-if="clientID == judge" ng-click="startRound()" class="button bg-black">START ROUND</a>
      </div>

      <div class="screen fixed-height bg-black" ng-class="{focus: currentScreen == 4}">
        <div class="container">
          <div class="current">
            <h3 class="current-reader">{{users[judge]['name']}}</h3>
            <p class="current-thing">{{promptText}}</p>
          </div>

          <div class="answers-box">
            <div class="answer-theirs" ng-class="{'answer-theirs-idle': user.status == 0, 'answer-theirs-typing': user.status == 1, 'answer-theirs-submitted': user.status == 2}" ng-repeat="user in users" ng-hide="user.id == judge"><span class="score">{{user.score}}</span>{{user.name}}</div>
          </div>

          <div answer-submit></div>
        </div>
      </div>

      <div class="screen fixed-height bg-black" ng-class="{focus: currentScreen == 5}">
        <div class="container">
          <div class="current">
            <h3 class="current-reader">{{users[judge]['name']}}</h3>
            <p class="current-thing">{{promptText}}</p>
          </div>

          <ul class="answers-box">
            <li class="answer-theirs answer-theirs-display" ng-repeat="answer in answers" ng-click="choose(answer.id)">{{answer.text}}</li>
          </ul>

          <a ng-if="clientID == judge && winner" id="submit" class="answer-submit" ng-click="chosen()">CHOOSE FAVORITE</a>
        </div>
      </div>

      <div class="screen prompt bg-magenta" ng-class="{focus: currentScreen == 6}">
        <h2>{{users[judge]['name']}} chose&hellip;</h2>
        <h1 class="winner"><span class="score-large">{{users[winner].score}}</span>{{users[winner].name}}</h1>
        <h1>{{winningAnswer}}</h1>
        <a ng-if="clientID == winner" href="#" id="submit" class="button bg-cyan" ng-click="nextQuestion()">NEXT QUESTION</a>
      </div>

      <div class="screen game-over bg-yellow" ng-class="{focus: currentScreen == 7}">
        <img class="crown" alt="" width="120" height="128" src="/images/crown-large.png">

        <h1 class="winner">{{users[winner].name}} WINS!</h1>
      </div>

      <div class="screen chat" ng-class="{focus: currentScreen == 'chat'}">
        <div class="container">
          <div class="chatBox" id="chatBox">
          </div>

          <div id="chat" class="chat-text-box">
            <textarea class="chat-textarea" placeholder="Type your message here." ng-model="chatText"></textarea>
            <a href="#" id="submit" class="button bg-black" ng-click="chatSend()">SEND</a>
          </div>
        </div>
      </div>

      <div class="screen bg-white">
        <h3>Room</h3>
        {{room}}{{chatNew}}
        <h3>chatText</h3>
        {{chatText}}
        <h3>Current Screen</h3>
        {{currentScreen}}
        <h3>Question</h3>
        {{currentQuestion}}
        <h3>Client ID</h3>
        {{clientID}}
        <h3>Users</h3>
        {{users}}
        <h3>Users Client ID</h3>
        {{users[clientID]}}
        <h3>Judge</h3>
        {{judge}}
        <h3>Answers</h3>
        {{answers}}
        <h3>Winner</h3>
        {{winner}}
        <h3>Winning Answer</h3>
        {{winningAnswer}}

      </div>

      <div class="chat-button" ng-class="{close: currentScreen === 'chat'}" ng-click="viewChat()"></div>
      <div class="transition" transition></div>
    </div>

    <audio preload="auto" id="audio-ping"><source src="/audio/ping.mp3"></audio>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
      // var myElement = document.getElementById('page');
      // var hammertime = new Hammer(myElement);
      
      // hammertime.on('swipeleft', function(ev) {
      //   console.log(ev);
      //   $('.screen').first().appendTo('.page');
      // });

      // hammertime.on('swiperight', function(ev) {
      //   console.log(ev);
      //   $('.screen').last().prependTo('.page');
      // });

      $('.answers-box').on('click', '.answer-theirs-display', function() {
        $('.answer-theirs-display').removeClass('bg-magenta');
        $(this).addClass('bg-magenta');
      });

      // $('li').on('mouseenter', function() {
      //   console.log('banana');
      //   $(this).addClass('bg-magenta');
      // });

    </script>

    <script>
      if (document.location.hostname == "bestworstanswer.com") {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-62518815-1', 'auto');
        ga('send', 'pageview');
      }
    </script>
  </body>
</html>
