<template>
  <div id="app">
    <game></game>
  </div>
</template>

<script>
import Hello from './components/Hello'
import game from './components/game'

export default {
  name: 'app',
  components: {
    Hello,
    game
  }
}
</script>

<style lang="scss">
  @import 'assets/css/style.scss';

  #app, #app > div, .game, .page, .chat {height:100%;}
  .focus {display:block !important;}

  @media screen and (min-width:1000px) {
    .game,
    .chat {display:block;float:left;width:50%;height:100%;}
    #app, #app > div, .game, .page {height:100%;}
    // .page {display:flex;flex-wrap:wrap;justify-content:center;align-items:center;align-content:center;}
    .page {width:100%;height:100vh;}
    // .screen {display:block;margin:5px !important;width:360px;height:480px !important;overflow:auto;}
    .screen {display:block;margin:0;width:100%;height:100% !important;overflow:auto;}
    .focus {outline:3px solid #ffff00;}
  }
</style>
