// Colors
$c: #60dff0; //#00ebf3
$m: #ff595b; //#ed145b
$y: #fede31; //#ffc600
$b: #0f0915;
$w: #deefeb;

$b50: hsla(270, 57%,   8%, .50);
$b20: hsla(270, 21%,  15%, .20);
$w80: hsla(163,  7%, 100%, .80);

//Typography
$fonts:  "Lato", "Helvetica", Arial, sans-serif;
$large:  300 36px/40px $fonts;
$medium: 900 24px/19px $fonts;
$small:  300 18px/20px $fonts;

//Border Box
@mixin border-box($type: border-box) {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

//Typography
body {
  background: #fff;
  color: $b;
  font: $small;
}

h1 {margin:0;font:300 36px/40px "Lato", sans-serif;}
h1 strong {font:900 36px/40px "Lato", sans-serif;}
h2 {margin:20px 0 20px;padding:0 0 20px;border-bottom:1px $b20 solid;font:900 24px/19px "Lato", sans-serif;}
h3 {margin:0;font:900 14px/20px "Lato", sans-serif;}
h3 span {font:300 14px/20px "Lato", sans-serif}

p {margin:0;font:300 18px/20px "Lato", sans-serif;}

/* Helpers */
.bg-cyan {background:$c !important;color:$b;}
.bg-magenta {background:$m !important;}
.bg-yellow {background:$y !important;color:$b}
.bg-black {background:$b;color:#fff;}
.bg-white {padding:20px;background:#fff;color:$b;word-wrap:break-word;}

.clr-white {color:hsla(164, 7%, 100%, .8);}
.clr-black {color:$b;}

.half {float:left;width:50%;box-sizing:border-box;}
.half.left {padding:0 0 0 40px;}
.half.right {padding:0 40px 0 0;}

/* Layout */
html {height:100%;}
body {margin:0;height:100%;background:#221e26;}

.screen {position:relative;z-index:100;width:100%;min-height:100%;box-sizing:border-box;}
.screen:first-child {margin:0;}
.screen.fixed-height {max-height:100%;overflow:hidden;}

@media screen and (min-width:1000px) {
  .screen {margin:0 auto !important;width:375px;height:667px !important;min-height:0;}
}

.landing {background:#fff;padding:0;}
.landing .container {position:relative;background:red;margin: 0 auto;padding:40px 40px 80px;min-height:100%;height:auto !important;height:100%;background:#fff;box-sizing:border-box;}
.logo {width:211px;height:114px;}
.landing form {width:100%;}
.landing fieldset {margin:0;padding:0;border:none;}
.landing input {display:block;margin:20px 0 0;padding:0;width:100%;height:50px;overflow:hidden;border:none;font:300 36px/normal "Lato", sans-serif;}
.landing label {display:block;padding:10px 0 0;width:100%;border-top:1px solid #cfced0;font:900 14px/20px "Lato", sans-serif;}
.landing label span {color:#87848a;font:300 14px/20px "Lato", sans-serif;}

.lobby {padding:60px 0 0;}
.number-of-players {margin:20px 0 0;}

.interstitial {padding:60px 40px 0;}
.interstitial h1 {padding:60px 0;}

.prompt {padding:80px 40px 0;}

.chat {background:#fff;}

.container {height:100%;overflow:auto;background:$b;}

.current {padding:20px 40px;min-height:40px;background:$c;color:$b;}
.current-reader {}

.answers-box {margin:0;padding:0 0 60px;overflow:auto;color:hsla(164, 7%, 100%, .8);}

.answer-theirs {position:relative;margin:0 0 1px;padding:10px 40px;overflow:hidden;font:300 18px/20px "Lato", "Helvetica", Arial, sans-serif;}
.answer-theirs-idle {background:transparent;}
.answer-theirs-typing {background:#140e19 url(assets/images/typing-three-dots-03.gif) 100% center no-repeat;background-size: 40px 20px;}
.answer-theirs-submitted {background:#221e26 url(assets/images/submitted-checkmark.png) 100% center no-repeat;background-size: 40px 20px;}
.answer-theirs-selected {background:#ed145b;color:$b;font-weight:700;}
.answer-theirs .crown {position:absolute;left:10px;top:10px;}
.answer-theirs-display {padding:20px 40px;background:#221e26;}

.score {display:inline-block;margin:0 10px 0 0;height:14px;width:14px;border:2px solid #4e4b51;border-radius:100%;color:#4e4b51;font:900 12px/16px "Lato", sans-serif;text-align:center;vertical-align:text-bottom;}
.score.blank {border-color:transparent;color:transparent;}
.score-large {display:inline-block;margin:5px 10px 0 0;height:24px;width:24px;border:3px solid $b;border-radius:100%;color:$b;font:900 18px/24px "Lato", sans-serif;text-align:center;vertical-align:top;}

.answer-mine, {position:absolute;right:0;bottom:0;left:0;padding:0 0 60px;background:$b;}
.answer-textarea {display:block;box-sizing:border-box;padding:20px 40px 0;width:100%;height:87px;background:$b;border:none;color:hsla(164, 7%, 100%, .8);font:300 18px/20px "Lato", sans-serif;}
.answer-submit {position:absolute;right:0;bottom:0;left:33%;height:60px;background:$m;color:$b;font:900 18px/60px "Lato", sans-serif;letter-spacing:2px;text-align:center;}

.answer-mine.hidden {transform:translate3d(0, 150px, 0);transition: all .25s ease-in;}

.chat-button {position:absolute;bottom:0px;left:5px;z-index:100;padding:5px 20px;width:20px;height:20px;background:#fff;}
.chat-button.close {background:#000;}

.chat .container {background: #fff;}
.chatBox {position:absolute;top:0;right:0;bottom:150px;left:0;overflow:auto;color:$b;}
.chat-message {position:relative;margin:0 0 1px;padding:10px 40px;overflow:hidden;font:300 18px/20px "Lato", "Helvetica", Arial, sans-serif;}
.chat-text-box {position:absolute;right:0;bottom:0;left:0;padding:0 0 60px;background:#fff;border-top:1px solid #cfced0;}
.chat-textarea {display:block;box-sizing:border-box;padding:20px 40px 0;width:100%;height:87px;background:#fff;border:none;color:$b;font:300 18px/20px "Lato", sans-serif;}

.button {position:absolute;right:0;bottom:0;left:33%;height:60px;font:900 18px/60px "Lato", sans-serif;letter-spacing:2px;text-align:center;text-decoration:none;}
.button-in-flow {position:relative;}

.timer {background:#ed145b;}
.timer-bar {height:3px;background:#ed145b;}

.winner {margin-bottom:20px;font-weight:900;}

.crown {display:block;margin:20px auto 40px;width:120px;}
.game-over .winner {margin:0 40px;padding:60px 0;border-top:1px solid $b20;border-bottom:1px solid $b20;text-align:center;text-transform:uppercase;}

.transition {position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden;z-index:0;}
.circle-box {position:absolute;bottom:20px;right:33%;width:10px;height:10px;overflow:visible;}
.circle {position:absolute;top:-150vh;left:-150vh;z-index:150;width:300vh;height:300vh;border-radius:100%;background:$b;}
.circle.invisible {opacity:0;}

.circle, {
  -webkit-transform: scale3d(.01, .01, 1);
     -moz-transform: scale3d(.01, .01, 1);
      -ms-transform: scale3d(.01, .01, 1);
       -o-transform: scale3d(.01, .01, 1);
          transform: scale3d(.01, .01, 1);
  -webkit-transition: -webkit-transform .5s ease-in; /* Changed here */ 
     -moz-transition: -moz-transform .5s ease-in;
       -o-transition: -o-transform .5s ease-in;
          transition: transform .5s ease-in;
}

.circle.large {
    -webkit-transform: scale3d(1, 1, 1);
       -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
         -o-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
}

/* Form */
textarea {resize:none;}
input:focus,
textarea:focus {outline:none;}

/* Placeholder */
.landing ::-webkit-input-placeholder,
.chat ::-webkit-input-placeholder {color:hsla(270, 57%, 8%, .5);}
::-webkit-input-placeholder {color:hsla(163, 7%, 100%, .25);}
:-moz-placeholder {color:hsla(163, 7%, 100%, .25);opacity:1;}
::-moz-placeholder {color:hsla(163, 7%, 100%, .25);opacity:1;}
:-ms-input-placeholder {color:hsla(163, 7%, 100%, .25);}

/* Scrollbar */
/*::-webkit-scrollbar              {width:10px;}
::-webkit-scrollbar-button       { }
::-webkit-scrollbar-track        {background:transparent;}
::-webkit-scrollbar-track-piece  {}
::-webkit-scrollbar-thumb        {background:hsla(163, 7%, 100%, .1);}
::-webkit-scrollbar-corner       { }
::-webkit-resizer                { }*/